# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output (jika pernah pakai builder)
dist/
build/
.out/

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Env / secrets
.env
.env.*
